<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to Finances</title>
    <link rel="stylesheet" type="text/css" href="../static/something.css">
</head>
<body>
   <div style="text-align: center;">
    <h1 style="text-align : center; margin-top: 50px;">Welcome</h1>

    <h2 style="margin-top: 50px; margin-left: 150px; margin-right: 150px">
        Our site helps high school students understand interest rates, taxes, and how to calculate them in simple, practical ways.
        Through clear lessons, examples, and interactive tools, students will discover the basics of how borrowing and earning are affected bt interest and taxation.
        By the end of your time with this website you'll be able to have a greater understanding of the financial world and be better prepared for your future.
    </h2>

    <h3 style="margin-top: 100px">To learn about Interest and Taxes click the button labeled: "Go to Lesson"</h3>
    <button class="zoom-button" style="width: 200px; height: 50px;border-radius:8px;background-color:lightgreen" onclick="window.location.href='/interest_info'">Go to Lesson</button>
    <br><br>
    <h3>To practice what you learned about Interest click the button labeled: "Go to Interest Questions"</h3>
    <button class="zoom-button" style="width: 200px; height: 50px;border-radius:8px;background-color:yellow" onclick="window.location.href='/interest_questions'">Go to Interest Questions</button>
    <br><br>
    <h3>To practice what you learned about Taxes click the button labeled: "Go to Taxes Questions"</h3>
    <button class="zoom-button" style="width: 200px; height: 50px;border-radius:8px;background-color:lightcoral" onclick="window.location.href='/taxes_questions'">Go to Taxes Questions</button>
   </div>
</body>
</html>